@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#ollama-sidebar {
    animation: slideIn 0.5s forwards;

    background-color:rgb(0, 0, 0);
    background-image: url("chrome-extension://${chrome.runtime.id}/src/img/bg2.png");
    background-size: cover;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    height: 100%;
    z-index: 99999;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    color: white;
}

#ollama-sidebar .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;    
}

#ollama-sidebar .tabs button {
    background-color: #76b900;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}

#ollama-sidebar .tabs button:hover {
    background-color: #609700;
}

/* normal: #76b900; hover: #609700; selected: #436900  */

#ollama-sidebar .bar {
    background-color: #76b900;
    height: 2px;
    width: calc(100% + 20px);
    margin: 0px -10px;
}



#ollama-sidebar .page-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ollama-sidebar .page-chat input {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#ollama-sidebar .page-chat button {
    background-color: #76b900;
    width: 20%;
    color: black;
    border: none;
    padding: 6px 10px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#ollama-sidebar #close-sidebar {
    background-color: rgba(0,0,0,0);
    position: absolute;
    left: 3px;
    top: 3px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

#ollama-sidebar #close-sidebar img {
    transform: translate(-5px, 0px);
}


#ollama-sidebar #info-button {
    background-color:rgb(0, 0, 0);
    color: #76b900;
    border: 1px solid #76b900 !important;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    cursor: pointer;
    font-size: 9px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
}

#ollama-sidebar .settings {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
    
#ollama-sidebar .settings * {
    width: 100%;
    align-items: center;
    margin: 0px 5px;
}

#ollama-sidebar select {
    background-color: #76b900;
    color: black;
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 5px 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    width: 30%;
}

#ollama-sidebar #verbose-slider {
    width: 100%;
    accent-color: #76b900;
}

#ollama-sidebar .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#ollama-sidebar .ollama-status-div {
    background-color: #aaa;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#ollama-sidebar .actions #ollama-status {
    transition: background-color 0.3s ease;
    transform: translate(0px, 3px);
}

#ollama-sidebar .actions #ollama-status-loading {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(20px, -34px);
}
    
#ollama-sidebar #summarize-button {
    background-color: #76b900;
    color: black;
    font-weight: bold;
    border: none;
    padding: 4px 40px;
    width: calc(50% - 10px);
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    align-self: left;
}

#ollama-sidebar h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
}

#ollama-sidebar h3 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-top: 10px;
}


#ollama-sidebar #summary-output, #digest-output {
    background-color: rgba(0,0,0,0.75);
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    min-height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    text-align: left;
    color: white;
    border: none;
}

#ollama-sidebar #summary-output * {
    color: white;
    font-family: 'Arial', sans-serif;
}

#ollama-sidebar #summary-output code {
    padding: 2px 5px;
    background-color: rgb(32, 32, 32);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-shadow: none;
}

#ollama-sidebar #summary-output h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;

}

#ollama-sidebar #summary-output h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;

}

#ollama-sidebar #summary-output h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 6px 0;
}

#ollama-sidebar #summary-output h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0;

}

#ollama-sidebar #summary-output p {
    font-size: 14px;
    line-height: 1.5;
    margin: 8px 0;

}

#ollama-sidebar #summary-output ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;
}

#ollama-sidebar #summary-output ol {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: decimal;
}

#ollama-sidebar #summary-output li {
    font-size: 14px;
    line-height: 1.5;
    margin: 4px 0;
}

/* config */

#ollama-sidebar .config {
    align-items: center;
}

#ollama-sidebar .config .ollama-url-div, .ollama-model-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#ollama-sidebar label {
    width: 30%;
    align-self: right;
}